body {
    background-color: #fffbfd;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: rgb(140, 41, 122); 
}

.container {
    margin: 90px auto;
    max-width: 760px;
    padding: 0 16px;
}

header {
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;
    color: #272044;
    margin-bottom: 8px;
}

.subtitle {
    margin: 0;
    opacity: 0.75;
    color: #272044;
}

.form-container {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 30px;
}

form {
    display: flex;
    gap: 10px;
}

.hint {
    line-height: 1.5;
    font-size: 12px;
    color: rgb(73, 73, 73);
    margin-top: 8px;
    opacity: 0.6;
}

.instructions {
    padding: 16px;
    border: 1px solid rgb(188, 188, 188);
    width: 100%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}

.submit-button {
    background-color: rgb(140, 41, 122);
    color: white;
    border: 1px solid rgb(124, 36, 108);
    width: 160px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 18px;
}

.submit-button:hover {
    transition: 200ms;
    background-color: rgb(165, 59, 146);
    cursor: pointer;
}

/* .hidden {
    display: none;
}

/* Results Layout */
.results {
    background-color: white;
    padding: 18px 20px;
    line-height: 1.5;
    border-left: 3px solid rgb(140, 41, 122);
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    /*  border-radius: 10px; */
}